name: smart_form_kit
description: A comprehensive Flutter form package with smart validation, formatting, and multiple input types. Built by Tech Mine MW for robust form handling in Flutter applications.
version: 1.0.0
homepage: https://techminemw.com/packages/smart_form_kit
repository: https://github.com/Techmine-MW/smart_form_kit

environment:
  sdk: ^3.10.0
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
